<ion-view class="walkthrough-view" cache-view="false">
	<div class="walkthrough">
		<!-- device="iphone5|iphone5 black|iphone5 white" -->
		<!-- device="iphone6|iphone6 black|iphone6 white|iphone6 gold" -->
		<!-- device="iphone6-plus|iphone6-plus black|iphone6-plus white|iphone6-plus gold" -->
		<!-- device="galaxyS5|galaxyS5 black|galaxyS5 white|galaxyS5 gold" -->
		<!-- device="nexus6" -->
		<!-- device="auto" -->
		<device-slider device="auto">
			<ion-slide-box>
				<ion-slide>
					<div class="row slide-head">
						<div class="col">
							<h3>La Herramienta para Contadores en Colombia</h3>
						</div>
					</div>
					<div class="row slide-body">
						<div class="col slide-body-wrapper">
							<img class="full-width-image" ng-src="img/big1.jpg">
						</div>
					</div>
				</ion-slide>
				<ion-slide>
					<div class="row slide-head">
						<div class="col col-center">
							<h3>Biggroup App</h3>
						</div>
					</div>
					<div class="row slide-body">
						<div class="col slide-body-wrapper">
							<div class="row device-html-example">
								<div class="col col-center">
									<div id="icon">
										<img ng-src="img/logo.png">
									</div>
									<p>
										Presentamos la nueva Aplicación BigGroup App
									</p>
								</div>
							</div>
						</div>
					</div>
				</ion-slide>
				<!--
				<ion-slide>
					<div class="row slide-head">
						<div class="col col-center">
							<h3>Facebook paper screenshot</h3>
						</div>
					</div>
					<div class="row slide-body">
						<div class="col slide-body-wrapper">
							<img class="full-width-image" ng-src="img/device-facebook-paper.png">
						</div>
					</div>
				</ion-slide>
				<ion-slide>
					<div class="row slide-head">
						<div class="col col-center">
							<h3>Foursquare screenshot</h3>
						</div>
					</div>
					<div class="row slide-body">
						<div class="col slide-body-wrapper">
							<img class="full-width-image" ng-src="img/device-foursquare.png">
						</div>
					</div>
				</ion-slide>
				<ion-slide>
					<div class="row slide-head">
						<div class="col col-center">
							<h3>Instagram screenshot</h3>
						</div>
					</div>
					<div class="row slide-body">
						<div class="col slide-body-wrapper">
							<img class="full-width-image" ng-src="img/device-instagram.png">
						</div>
					</div>
				</ion-slide>
				<ion-slide>
					<div class="row slide-head">
						<div class="col col-center">
							<h3>Twitter screenshot</h3>
						</div>
					</div>
					<div class="row slide-body">
						<div class="col slide-body-wrapper">
							<img class="full-width-image" ng-src="img/device-twitter.png">
						</div>
					</div>
				</ion-slide>

			-->

			</ion-slide-box>
		</device-slider>

    <div class="bottom-content row">
      <div class="col col-center">
        <a class="login button button-block button-stable" ui-sref="auth.login">
          Iniciar Sesión
        </a>
        <a class="sign-up button button-block button-stable" ui-sref="auth.signup">
          Registrarse
        </a>
      </div>
    </div>
  

		
	</div>
</ion-view>
