<ion-view class="menu-principal-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Big App</span>
  </ion-nav-title>
  <ion-content>


<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">
    
      <div class="page_content_menu">
       <nav class="main-nav">
        <ul>

           <li>

                <ion-item nav-clear class="iconomenu" ui-sref="app.wordpress">
                <img src="images/icons/white/home.png" alt="" title="" />
                <span>Inicio</span>
                </ion-item>
           </li>


          <li>
              <ion-item nav-clear class="iconomenu" ui-sref="app.miscellaneous">
                <img src="images/icons/white/blog.png" alt="" title="" />
                <span>Calendario</span>
              </ion-item>

          </li>

          <li>

              <ion-item nav-clear class="iconomenu" ui-sref="app.wordpress">
                <img src="images/icons/white/message.png" alt="" title="" />
                <span>Noticias</span>
              </ion-item>
          </li>


          <li>

              <ion-item nav-clear class="iconomenu" ui-sref="app.settings">
                <img src="images/icons/white/settings.png" alt="" title="" />
                <span>Preguntas</span>
              </ion-item>
          </li>


          <li>

              <ion-item nav-clear class="iconomenu" ui-sref="app.profiles">
                <img src="images/icons/white/video.png" alt="" title="" />
                <span>Videos</span>
              </ion-item>

         </li>

          <li>

               <ion-item nav-clear class="iconomenu" ui-sref="app.category-feeds">
                <img src="images/icons/white/lock.png" alt="" title="" />
                <span>Login</span>
              </ion-item>

          </li>


          <li>

              <ion-item nav-clear class="iconomenu" ui-sref="app.forms">
                <img src="images/icons/white/tables.png" alt="" title="" />
                <span>Biggroup</span>
              </ion-item>

         </li>


          <li>

             <ion-item nav-clear class="iconomenu" ui-sref="app.maps">
                <img src="images/icons/white/tables.png" alt="" title="" />
                <span>Contacto</span>
              </ion-item> 

          </li>

          
          
        </ul>
      </nav>  
      
     </div> 
      
    </div>
  </div>
</div>


  </ion-content>
</ion-view>
